.infotooltip__text {
  max-width: 430px; /*needs to be set to smaller than box size so that margin auto works*/
  height: 58px;
  font-family: 'Inter', 'Arial', sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  padding: 0px;
  margin: 0px auto 60px auto; /* top right bottom left*/
}

.infotooltip__content {
  /*width and height are determined by the margins of the objects inside */
  margin: auto auto;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative; /*so that X close button is placed relative to this box */
}

.infotooltip__image {
  margin: 60px 155px 22px 155px; /* top right bottom left */
}
